---
---

@import "{{ site.theme }}";

#sidebar h2 {
    margin-bottom: 8px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 22px;
    font-weight: bold;
    color: #474747;
    text-indent: 4px;
}

a img {
    width: 25%;
    height: 25%;
}